<template>
  <div class="dark-bg">
    <h2 class="title is-5 has-text-light">Your history:</h2>
    <div class="columns" v-for="(row, i) in rowIndexed" v-bind:key="i">
      <div class="column" v-for="video in row" v-bind:key="video.id">
        <div class="card has-background-dark">
          <div class="card-image">
            <figure class="image is-4by3">
              <img v-if="video.thumbnail" v-bind:src="video.thumbnail" />
              <div v-else class="no-image">
                <i></i>
              </div>
            </figure>
          </div>
          <div class="card-content" v-bind:class="{ hasThumbnail: video.thumbnail }">
            <p class="title is-4">{{ video.title }}</p>
            <p class="subtitle">{{ video.source }}</p>
          </div>
          <footer class="card-footer">
            <a
              href="#"
              class="card-footer-item left"
              @click="openModel(video.gif, 'gif')"
              v-if="video.gif"
            >
              <b-icon icon="image" size="is-large"></b-icon>
            </a>
            <a
              class="card-footer-item right"
              @click="openModel(video.mp4, 'mp4')"
              ><b-icon icon="video" size="is-large"></b-icon
            ></a>
          </footer>
        </div>
      </div>
    </div>
    <b-modal v-model="isModelActive">
      <div class="card has-background-dark">
        <div class="card-image">
          <figure class="image has-text-centered">
            <video controls v-if="type == 'mp4'">
              <source :src="activeMedia" type="video/mp4" />
            </video>
            <img v-if="type == 'gif'" :src="activeMedia" alt="Image" />
          </figure>
        </div>
        <div class="card-content" >
          <div class="content has-text-centered">
            <a class="button is-primary" :href="activeMedia">
              <span class="icon is-small">
                <i class="mdi mdi-download"></i>
              </span>
              <span>Download</span>
            </a>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script lang="js">
  export default {
    props: ['videoHistory'],
    data() {
      return {
        isModelActive: false,
        activeMedia: "",
        type: ""  
      }
    },
    computed: {
      rowIndexed: function() {
        const indexed = []
        let currentRow = undefined
        const videos = this.videoHistory.concat().reverse()
        videos.forEach((v, index) => {
          if (index % 4 === 0) {
            currentRow = []
            indexed.push(currentRow)
          }
          currentRow.push(v)
          
        });
        return indexed
      }
    },
    methods: {
      openModel(url, type) {
        console.log(url, type)
        this.isModelActive = true
        this.activeMedia = url
        this.type = type
      }
    }
  }
</script>

<style lang="scss" scoped>
.card {
  .no-image {
    position: absolute;
    top: 20%;
    left: 28%;
    i::before{
      font-size: 150px;
      font: normal normal normal 125px/1 "Material Design Icons";
      content: "\F021F" ;
    }
  }
  .card-content {
    position: absolute;
    padding: 0.75rem 1.5rem;
    top: 10%;
    width: 100%;
    &.hasThumbnail {
      background-color: #0000005c;
    }
    * {
      color: white;
    }
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    border: none;
    width: 100%;

    .card-footer-item {
      border: none;
      &:hover {
        color: white !important;
        text-shadow: none !important;
      }
      .icon {
        text-shadow: 4px 2px #06235182;
      }
    }
  }
}
.tile.is-info {
  padding-bottom: 5em;
}
image,
video {
  min-height: 480px;
}
</style>
