<template>
  <section class="section">
    <b-field id="url-input">
      <b-input 
        placeholder="Enter full video URL here" 
        icon="web"
        class="is-primary"
        size="is-medium"
        v-model="url"
        rounded>
        </b-input>
    </b-field>
    <b-field grouped position="is-centered">
      <b-field> 
        <b-tooltip position="is-left" type="is-light" multilined size="is-small" label="Convert video to GIF">
          <b-checkbox v-model="convert2Gif">Convert to GIF</b-checkbox>
        </b-tooltip>
      </b-field>
      <b-field>
        <b-tooltip position="is-right" type="is-light" multilined size="is-small" label="Optimize GIF size? Smaller, but quality may vary.">
          <b-checkbox :disabled="!convert2Gif" >Optimize</b-checkbox>
        </b-tooltip>
      </b-field>
    </b-field>
    <b-button @click="submit" size="is-medium" type="is-light">Submit</b-button>
  </section>
</template>

<script lang="js">
  export default {
    data() {
      return {
        url: '',
        optimze: false,
        convert2Gif: false
      }
    },
    methods: {
      submit() {
          this.$emit('submit', this.url, this.convert2Gif, this.optimize)
      }
    }
  }
</script>

<style lang="scss">
#url-input {
  margin-bottom: 2em;
}
</style>
