<template>
  <section>
    <section class="hero is-info is-medium is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-spaced is-1">youtube-dl as a Service</h1>
          <h2 class="subtitle">
            Based on the excellent
            <a href="https://youtube-dl.org/">youtube-dl</a>, but also converts to the world's worst video format!<br />
            Supports most video sites, see
            <a href="https://ytdl-org.github.io/youtube-dl/supportedsites.html" >here</a >
            for the full list.
          </h2>

          <UrlInput v-if="!getStatus" v-on:submit="submitUrl"></UrlInput>
          <Progress
            v-if="getStatus"
            :status="getStatus"
            :progress="getProgress"
          ></Progress>
          <b-button v-if="getStatus === 'finished'" size="is-medium" icon-left="plus-circle" @click="resetStatus">Another</b-button>
        </div>
      </div>
    </section>
    <section class="section dark-bg" v-if="allVideos.length > 0">
      <div class="container">
        <History :videoHistory="allVideos" />
      </div>
    </section>
  </section>
</template>
<script lang="js">
import UrlInput from "./components/url-input.vue"
import Progress from "./components/progress.vue"
import History from "./components/history.vue"
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return { }
  },
  computed: {
    ...mapGetters(['allVideos', 'getStatus', 'getProgress']),
  },
  components: {
    UrlInput,
    Progress,
    History
  },
  methods: {
    ...mapActions(['checkStatus', 'submitUrl', 'resetStatus']),
  }
}
</script>

<style lang="scss">
@import "./custom";
.hero {
  width: 100%;
  a {
    text-decoration: underline dotted $primary;
  }
}
.dark-bg {
  background: rgb(37,37,37);
  background: radial-gradient(circle, rgba(37,37,37,1) 0%, rgba(32,32,32,1) 100%); 
  // background-color: #252525;
}
</style>
