html, .full {
    height: 100%;
}
body {
    color: #f2f2dc;
    background: rgb(27,27,27);
    background: linear-gradient(180deg, rgba(27,27,27,1) 0%, rgba(38,38,38,1) 100%); 
    height: 100%;
}

$checkbox-border-color: #f2f2dc;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
